.categories-container {
    display: flex;
    background-color: #672042;
    gap: 80px;
    align-items: center;
}

@media(max-width: 400px) {

    .categories-container {
        display: flex;
        background-color: #672042;
        gap: 10px;
    }

}