.categories-container {
    display: flex;
    background-color: #672042;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 61px;
  

}

@media(max-width: 400px){

    .categories-container {
        display: flex;
        background-color: #672042;
        padding-left: 5%;
        padding-right: 10%;
        width: 100%;
    }


}