.main-categories {
    padding-top: 40px;

.wine-categories {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-category {
    font-size: 20px;
    font-weight: 600;
}
}