.category-container {
width: 100%;
height: 45px;
text-align: center;
padding: 12px;

.category-title {
    color: white; 
    cursor: pointer;   
}
}


@media(max-width: 400px) {

    .category-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        text-align: center;
        justify-content: space-around;
        
        .category-title {
            color: white; 
            cursor: pointer;
            font-size: 10px;   
        }
        }


}