.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
  

    cursor: pointer;

    .cart-text {
        font-weight: 600;
    }

    .cart-icon {
        width: 36px;
        position: relative;
    }
    .img-cart-count{
        width: 36px;
        height: 36px;
        // border: 1px solid purple;
       
   
        .item-count{
            right: 76px;
            top: 23px;
             position: absolute;
            font-size: 12px;
            font-weight: bold;
           
            z-index: 5;
            font-size: 12px;
        }

    }

   
   
}

@media(max-width: 400px){

    .cart-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        .cart-text {
            font-weight: 600;
            margin-right: 10px;
        }

        .img-cart-count{
            width: 36px;
            height: 36px;
            // border: 1px solid purple;
           
       
            .item-count{
                right: 16px;
                top: 24px;
                 position: absolute;
                font-size: 12px;
                font-weight: bold;
               
                z-index: 5;
                font-size: 12px;
            }
    
        }
    
        
    }

}