.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    cursor: pointer;

    .cart-text {
        font-weight: 600;
    }

    .cart-icon {
        width: 35px;
    }

    .item-count{
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        left: 77px;
        top: 4px;
    }
}

@media(max-width: 400px){

    .cart-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        .cart-text {
            font-weight: 600;
            margin-right: 10px;
        }
    
        .cart-icon {
            width: 28px;
        }
    }

}