.button-buy-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 5px;

    .button-result {
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
        border: none;
        border-radius: 5px;
        background-color: #672042;
        color: white;
        font-weight: bold;
        transition: all .5s;

        &:hover {
            color: rgb(224, 202, 202);
            box-shadow: 0px 0px 5px white inset;
        }
    }

    .button-add-remove {
        width: 25%;
        background-color: #672042;
        border: none;
        padding-top: 4px;
        padding-bottom: 4px;

        &:hover {
            color: rgb(224, 202, 202);
            box-shadow: 0px 0px 5px white inset;
        }
    }
}