.nav-search {
    width: 350px;
    height: 30px;
    background-color: white;
    border: 1px #47515b solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    .search-container {
        height: 30px;
        display: flex;
        align-items: center;

        .search-text {
            width: 300px;
            border: none;
        }

        input::placeholder {
            color: lightgray;
        }

        .search-icon {
            width: 20px;
            padding-left: 5px;
        }
    }

    .search-results {
        width: 300px;
        font-size: 13px;
        position: absolute;
        background-color: white;
        padding: 5px;
    }
}