* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-optical-sizing: auto;
  color: #535353;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

